In [1]:
import pandas as pd
import sklearn
import numpy as np

In [2]:
M = np.genfromtxt('../data/processed.switzerland.data', missing_values=0, delimiter=',', dtype=float)
swiss_df = pd.DataFrame(M,columns=["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","num"],)
print(swiss_df)

      age  sex   cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0    32.0  1.0  1.0      95.0   0.0  NaN      0.0    127.0    0.0      0.7
1    34.0  1.0  4.0     115.0   0.0  NaN      NaN    154.0    0.0      0.2
2    35.0  1.0  4.0       NaN   0.0  NaN      0.0    130.0    1.0      NaN
3    36.0  1.0  4.0     110.0   0.0  NaN      0.0    125.0    1.0      1.0
4    38.0  0.0  4.0     105.0   0.0  NaN      0.0    166.0    0.0      2.8
..    ...  ...  ...       ...   ...  ...      ...      ...    ...      ...
118  70.0  1.0  4.0     115.0   0.0  0.0      1.0     92.0    1.0      0.0
119  70.0  1.0  4.0     140.0   0.0  1.0      0.0    157.0    1.0      2.0
120  72.0  1.0  3.0     160.0   0.0  NaN      2.0    114.0    0.0      1.6
121  73.0  0.0  3.0     160.0   0.0  0.0      1.0    121.0    0.0      0.0
122  74.0  1.0  2.0     145.0   0.0  NaN      1.0    123.0    0.0      1.3

     slope   ca  thal  num
0      1.0  NaN   NaN  1.0
1      1.0  NaN   NaN  1.0
2      NaN  NaN   7.0  3.0
3      2.0  NaN   6.0  1.0
4      1.0  NaN   NaN  2.0
..     ...  ...   ...  ...
118    2.0  NaN   7.0  1.0
119    2.0  NaN   7.0  3.0
120    2.0  2.0   NaN  0.0
121    1.0  NaN   3.0  1.0
122    1.0  NaN   NaN  1.0

[123 rows x 14 columns]

In [3]:
del swiss_df['ca']
del swiss_df['thal']

In [5]:
swiss_df['trestbps'].fillna(swiss_df['trestbps'].mean(), inplace = True)
swiss_df['oldpeak'].fillna(swiss_df['oldpeak'].mean(), inplace = True)
swiss_df['fbs'].fillna(swiss_df['fbs'].mode()[0], inplace = True)
swiss_df['restecg'].fillna(swiss_df['restecg'].mode()[0], inplace = True)
swiss_df['thalach'].fillna(swiss_df['thalach'].mode()[0], inplace = True)
swiss_df['exang'].fillna(swiss_df['exang'].mode()[0], inplace = True)
swiss_df['slope'].fillna(swiss_df['slope'].mode()[0], inplace = True)
swiss_df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
num         0
dtype: int64

In [6]:
swiss_df['heartdis'] = np.where(swiss_df['num'] > 0.0, 1,0)
del swiss_df['num']

In [7]:
swiss_df.to_csv("../data/ProcessedSwissData.csv",index=False)
swiss_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,heartdis
0,32.0,1.0,1.0,95.000000,0.0,0.0,0.0,127.0,0.0,0.700000,1.0,1
1,34.0,1.0,4.0,115.000000,0.0,0.0,0.0,154.0,0.0,0.200000,1.0,1
2,35.0,1.0,4.0,130.206612,0.0,0.0,0.0,130.0,1.0,0.653846,2.0,1
3,36.0,1.0,4.0,110.000000,0.0,0.0,0.0,125.0,1.0,1.000000,2.0,1
4,38.0,0.0,4.0,105.000000,0.0,0.0,0.0,166.0,0.0,2.800000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
118,70.0,1.0,4.0,115.000000,0.0,0.0,1.0,92.0,1.0,0.000000,2.0,1
119,70.0,1.0,4.0,140.000000,0.0,1.0,0.0,157.0,1.0,2.000000,2.0,1
120,72.0,1.0,3.0,160.000000,0.0,0.0,2.0,114.0,0.0,1.600000,2.0,0
121,73.0,0.0,3.0,160.000000,0.0,0.0,1.0,121.0,0.0,0.000000,1.0,1
122,74.0,1.0,2.0,145.000000,0.0,0.0,1.0,123.0,0.0,1.300000,1.0,1